In [2]:
import pandas as pd
import pycountry

In [24]:
data = 'https://covid19.who.int/WHO-COVID-19-global-table-data.csv'

In [39]:
try:
    data = pd.read_csv(data)
    print(1)
except:
    data = pd.read_csv('dataset.csv')

In [23]:
data = pd.read_csv('dataset.csv',index_col=False)

In [24]:
data.head(20)

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
0,Global,NaN,767518723,9846.875988,167628,2.150582,228,6947192,89.12895,1033,0.013253,5
1,United States of America,Americas,103436829,31249.547000,0,0.000000,0,1127152,340.52700,0,0.000000,0
2,China,Western Pacific,99289096,6748.452000,3650,0.248000,0,121465,8.25600,74,0.005000,0
3,India,South-East Asia,44994097,3260.431000,426,0.031000,98,531905,38.54400,7,0.001000,2
4,France,Europe,38989382,59947.365000,0,0.000000,0,167923,258.18700,0,0.000000,0
5,Germany,Europe,38431910,46210.689000,0,0.000000,0,174555,209.88600,0,0.000000,0
6,Brazil,Americas,37656050,17715.541000,16726,7.869000,0,703719,331.06900,320,0.151000,0
7,Japan,Western Pacific,33803572,26727.165000,0,0.000000,0,74694,59.05800,0,0.000000,0
8,Republic of Korea,Western Pacific,32131606,62672.356000,113120,220.639000,0,35017,68.30000,57,0.111000,0
9,Italy,Europe,25893101,43414.579000,1575,2.641000,0,190782,319.88100,18,0.030000,0
10,The United Kingdom,Europe,24636637,36291.188000,244,0.359000,0,227524,335.15600,0,0.000000,0
11,Russian Federation,Europe,22959198,15732.540000,5789,3.967000,0,399563,273.79600,127,0.087000,0
12,TÃ¼rkiye,Europe,17004677,20162.278000,0,0.000000,0,101419,120.25200,0,0.000000,0
13,Spain,Europe,13970616,29515.834000,0,0.000000,0,121724,257.16700,0,0.000000,0
14,Viet Nam,Western Pacific,11620076,11937.791000,488,0.501000,0,43206,44.38700,0,0.000000,0
15,Australia,Western Pacific,11495207,45079.448000,0,0.000000,0,21685,85.04000,0,0.000000,0
16,Argentina,Americas,10044957,22225.434000,0,0.000000,0,130472,288.68200,0,0.000000,0
17,Netherlands,Europe,8616031,49495.843000,0,0.000000,0,22986,132.04600,0,0.000000,0
18,Mexico,Americas,7633340,5920.404000,2116,1.641000,0,334336,259.31000,20,0.016000,0
19,Iran (Islamic Republic of),Eastern Mediterranean,7612414,9063.158000,62,0.074000,0,146292,174.17200,1,0.001000,0

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 12 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Name                                                          238 non-null    object
 1   WHO Region                                                    237 non-null    object
 2   Cases - cumulative total                                      238 non-null    int64
 3   Cases - cumulative total per 100000 population                237 non-null    float64
 4   Cases - newly reported in last 7 days                         238 non-null    int64
 5   Cases - newly reported in last 7 days per 100000 population   237 non-null    float64
 6   Cases - newly reported in last 24 hours                       238 non-null    int64
 7   Deaths - cumulative total                                     238 non-null    int64
 8   Deaths - cumulative total per 100000 population               237 non-null    float64
 9   Deaths - newly reported in last 7 days                        238 non-null    int64
 10  Deaths - newly reported in last 7 days per 100000 population  237 non-null    float64
 11  Deaths - newly reported in last 24 hours                      238 non-null    int64
dtypes: float64(4), int64(6), object(2)
memory usage: 22.4+ KB

In [42]:
data.reset_index(inplace=True)

In [43]:
data.rename(columns={'index':'Country'},inplace=True)

In [26]:
data

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
0,Global,NaN,767518723,9846.875988,167628,2.150582,228,6947192,89.12895,1033,0.013253,5
1,United States of America,Americas,103436829,31249.547000,0,0.000000,0,1127152,340.52700,0,0.000000,0
2,China,Western Pacific,99289096,6748.452000,3650,0.248000,0,121465,8.25600,74,0.005000,0
3,India,South-East Asia,44994097,3260.431000,426,0.031000,98,531905,38.54400,7,0.001000,2
4,France,Europe,38989382,59947.365000,0,0.000000,0,167923,258.18700,0,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...
233,Holy See,Europe,26,3213.844000,0,0.000000,0,0,0.00000,0,0.000000,0
234,Tokelau,Western Pacific,19,1407.407000,0,0.000000,0,0,0.00000,0,0.000000,0
235,Pitcairn Islands,Western Pacific,4,8000.000000,0,0.000000,0,0,0.00000,0,0.000000,0
236,Democratic People's Republic of Korea,South-East Asia,0,0.000000,0,0.000000,0,0,0.00000,0,0.000000,0
237,Turkmenistan,Europe,0,0.000000,0,0.000000,0,0,0.00000,0,0.000000,0

In [27]:
data=data[data['Name']!='Other']

In [28]:
country=data["Name"][1::].unique().tolist()

In [29]:
NA_LIST = {
    'United States of America': 'US',
    'Republic of Korea': 'KR',
    'The United Kingdom': 'GB',
    'TÃ¼rkiye': 'TR',
    'Iran (Islamic Republic of)': 'IR',
    'Bolivia (Plurinational State of)': 'BO',
    'occupied Palestinian territory, including east Jerusalem': 'PS',
    'Republic of Moldova': 'MD',
    'Venezuela (Bolivarian Republic of)': 'VE',
    'Kosovo[1]': 'XK',
    'Democratic Republic of the Congo': 'CD',
    'CÃ´te dâIvoire': 'CI',
    'United Republic of Tanzania': 'TZ',
    'Micronesia (Federated States of)': 'FM',
    'United States Virgin Islands': 'VI',
    'Northern Mariana Islands (Commonwealth of the)': 'MP',
    'Saint Martin': 'MF',
    'Sint Maarten': 'SX',
    'Bonaire': 'BQ',
    'British Virgin Islands': 'VG',
    'Sint Eustatius': 'BQ',
    'Saba': 'BQ',
    'Holy See': 'VA',
    'Pitcairn Islands': 'PN',
    "Democratic People's Republic of Korea": 'KP'
}

In [30]:
ISO=['GLOBAL']
for country_name in country:
    try:
        country = pycountry.countries.get(name=country_name)
        ISO.append(country.alpha_2)
    except Exception as e:
        
        ISO.append(NA_LIST[country_name])

In [31]:
ISO

['GLOBAL',
 'US',
 'CN',
 'IN',
 'FR',
 'DE',
 'BR',
 'JP',
 'KR',
 'IT',
 'GB',
 'RU',
 'TR',
 'ES',
 'VN',
 'AU',
 'AR',
 'NL',
 'MX',
 'IR',
 'ID',
 'PL',
 'CO',
 'AT',
 'PT',
 'UA',
 'GR',
 'CL',
 'MY',
 'IL',
 'BE',
 'TH',
 'CA',
 'CZ',
 'PE',
 'CH',
 'PH',
 'ZA',
 'DK',
 'RO',
 'SE',
 'RS',
 'SG',
 'IQ',
 'NZ',
 'HU',
 'BD',
 'SK',
 'GE',
 'JO',
 'IE',
 'PK',
 'KZ',
 'NO',
 'FI',
 'SI',
 'LT',
 'BG',
 'MA',
 'HR',
 'GT',
 'PR',
 'LB',
 'CR',
 'BO',
 'TN',
 'CU',
 'EC',
 'AE',
 'PA',
 'UY',
 'MN',
 'NP',
 'BY',
 'LV',
 'SA',
 'AZ',
 'PY',
 'PS',
 'BH',
 'LK',
 'KW',
 'DO',
 'CY',
 'MM',
 'MD',
 'EE',
 'VE',
 'EG',
 'QA',
 'LY',
 'ET',
 'RE',
 'HN',
 'AM',
 'BA',
 'OM',
 'LU',
 'MK',
 'ZM',
 'KE',
 'AL',
 'BW',
 'BN',
 'MU',
 'XK',
 'DZ',
 'NG',
 'ZW',
 'ME',
 'MZ',
 'MQ',
 'AF',
 'LA',
 'IS',
 'GP',
 'SV',
 'TT',
 'MV',
 'GH',
 'NA',
 'UZ',
 'UG',
 'JM',
 'KH',
 'RW',
 'CM',
 'MT',
 'BB',
 'AO',
 'GF',
 'CD',
 'SN',
 'MW',
 'CI',
 'KG',
 'SR',
 'NC',
 'PF',
 'SZ',
 'GY',
 'BZ',
 'FJ',
 'MG',
 'JE',
 'SD',
 'CV',
 'MR',
 'BT',
 'SY',
 'BI',
 'GU',
 'SC',
 'GA',
 'AD',
 'PG',
 'CW',
 'AW',
 'TZ',
 'YT',
 'TG',
 'GN',
 'BS',
 'IM',
 'GG',
 'FO',
 'LS',
 'HT',
 'ML',
 'KY',
 'LC',
 'BJ',
 'SO',
 'FM',
 'VI',
 'CG',
 'SM',
 'TL',
 'BF',
 'SB',
 'LI',
 'GI',
 'GD',
 'BM',
 'SS',
 'TJ',
 'GQ',
 'MC',
 'TO',
 'WS',
 'MH',
 'NI',
 'DM',
 'DJ',
 'CF',
 'MP',
 'GM',
 'MF',
 'VU',
 'GL',
 'YE',
 'SX',
 'ER',
 'BQ',
 'VC',
 'GW',
 'NE',
 'KM',
 'AG',
 'AS',
 'LR',
 'SL',
 'TD',
 'VG',
 'CK',
 'KN',
 'ST',
 'TC',
 'PW',
 'BL',
 'NR',
 'KI',
 'AI',
 'WF',
 'PM',
 'TV',
 'SH',
 'FK',
 'MS',
 'BQ',
 'BQ',
 'NU',
 'VA',
 'TK',
 'PN',
 'KP',
 'TM']

In [32]:
data["ISO"] = ISO

C:\Users\edith\AppData\Local\Temp\ipykernel_37440\787372375.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["ISO"] = ISO

In [33]:
data.head(20)

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours,ISO
0,Global,NaN,767518723,9846.875988,167628,2.150582,228,6947192,89.12895,1033,0.013253,5,GLOBAL
1,United States of America,Americas,103436829,31249.547000,0,0.000000,0,1127152,340.52700,0,0.000000,0,US
2,China,Western Pacific,99289096,6748.452000,3650,0.248000,0,121465,8.25600,74,0.005000,0,CN
3,India,South-East Asia,44994097,3260.431000,426,0.031000,98,531905,38.54400,7,0.001000,2,IN
4,France,Europe,38989382,59947.365000,0,0.000000,0,167923,258.18700,0,0.000000,0,FR
5,Germany,Europe,38431910,46210.689000,0,0.000000,0,174555,209.88600,0,0.000000,0,DE
6,Brazil,Americas,37656050,17715.541000,16726,7.869000,0,703719,331.06900,320,0.151000,0,BR
7,Japan,Western Pacific,33803572,26727.165000,0,0.000000,0,74694,59.05800,0,0.000000,0,JP
8,Republic of Korea,Western Pacific,32131606,62672.356000,113120,220.639000,0,35017,68.30000,57,0.111000,0,KR
9,Italy,Europe,25893101,43414.579000,1575,2.641000,0,190782,319.88100,18,0.030000,0,IT
10,The United Kingdom,Europe,24636637,36291.188000,244,0.359000,0,227524,335.15600,0,0.000000,0,GB
11,Russian Federation,Europe,22959198,15732.540000,5789,3.967000,0,399563,273.79600,127,0.087000,0,RU
12,TÃ¼rkiye,Europe,17004677,20162.278000,0,0.000000,0,101419,120.25200,0,0.000000,0,TR
13,Spain,Europe,13970616,29515.834000,0,0.000000,0,121724,257.16700,0,0.000000,0,ES
14,Viet Nam,Western Pacific,11620076,11937.791000,488,0.501000,0,43206,44.38700,0,0.000000,0,VN
15,Australia,Western Pacific,11495207,45079.448000,0,0.000000,0,21685,85.04000,0,0.000000,0,AU
16,Argentina,Americas,10044957,22225.434000,0,0.000000,0,130472,288.68200,0,0.000000,0,AR
17,Netherlands,Europe,8616031,49495.843000,0,0.000000,0,22986,132.04600,0,0.000000,0,NL
18,Mexico,Americas,7633340,5920.404000,2116,1.641000,0,334336,259.31000,20,0.016000,0,MX
19,Iran (Islamic Republic of),Eastern Mediterranean,7612414,9063.158000,62,0.074000,0,146292,174.17200,1,0.001000,0,IR

In [47]:
data2 = pd.read_csv('https://covid19.who.int/WHO-COVID-19-global-data.csv')

In [48]:
data2

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
301696,2023-06-24,ZW,Zimbabwe,AFRO,0,265413,0,5707
301697,2023-06-25,ZW,Zimbabwe,AFRO,0,265413,0,5707
301698,2023-06-26,ZW,Zimbabwe,AFRO,0,265413,0,5707
301699,2023-06-27,ZW,Zimbabwe,AFRO,0,265413,0,5707
301700,2023-06-28,ZW,Zimbabwe,AFRO,0,265413,0,5707

In [16]:
x=data2["Date_reported"].tail(1).values[0]

In [17]:
print(x)

2023-06-28

In [40]:
data.to_csv('data.csv',index=False)

In [41]:
data1 = pd.read_csv('data.csv',index_col=False)

In [42]:
data1

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours,ISO
0,Global,NaN,767518723,9846.875988,167628,2.150582,228,6947192,89.12895,1033,0.013253,5,GLOBAL
1,United States of America,Americas,103436829,31249.547000,0,0.000000,0,1127152,340.52700,0,0.000000,0,US
2,China,Western Pacific,99289096,6748.452000,3650,0.248000,0,121465,8.25600,74,0.005000,0,CN
3,India,South-East Asia,44994097,3260.431000,426,0.031000,98,531905,38.54400,7,0.001000,2,IN
4,France,Europe,38989382,59947.365000,0,0.000000,0,167923,258.18700,0,0.000000,0,FR
...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,Holy See,Europe,26,3213.844000,0,0.000000,0,0,0.00000,0,0.000000,0,VA
233,Tokelau,Western Pacific,19,1407.407000,0,0.000000,0,0,0.00000,0,0.000000,0,TK
234,Pitcairn Islands,Western Pacific,4,8000.000000,0,0.000000,0,0,0.00000,0,0.000000,0,PN
235,Democratic People's Republic of Korea,South-East Asia,0,0.000000,0,0.000000,0,0,0.00000,0,0.000000,0,KP
236,Turkmenistan,Europe,0,0.000000,0,0.000000,0,0,0.00000,0,0.000000,0,TM

In [44]:
data2.to_csv('data2.csv',index=False)

In [51]:
data[data['Name']=='Global']['Cases - cumulative total'].values[0]

767518723